ion-content {
    --background: burlywood;
    --padding-start: 2rem;
    --padding-end: 2rem;
    

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 3rem;

        h1 {
            font-size: 1.75rem;
            font-weight: 400;
            color: aqua;
            margin: 0;
        }

        .avatar {
            width: 75px;
            height: 75px;
            background-color: black;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;

            ion-img {
                width: 90%;
                height: 90%;
            }
        }
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
    }

    .list-header {
        font-weight: 700;
        color: #b89b9b;
        font-size: 2rem;
        margin-bottom: 1.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    p {
        text-align: center;
        font-size: 1rem;
        color: black;
        margin-bottom: 1.5rem;
    }

    .food-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}