
<ion-content>
  <!--HEADER-->
  <div class="header">
    <h1>Food Corner</h1>
    <div class="avatar">
      <ion-img src="https://i.pinimg.com/originals/61/86/07/6186072a7b4b0f11d8920a9005f2fbd0.jpg"></ion-img>
    </div>
  </div>

  <!-- CATEGORY -->
  <div class="categories">
    <app-category-item *ngFor="let item of categories" [item]="item"></app-category-item>
  </div>

  <!-- PRODUCTS -->
  <h1 class="list-header">Menu Sneak Peek</h1>
  <p>For Easy Pick-up and Delivery!</p>
  <div class="food-list">
    <app-food-card *ngFor="let food of foods" [item]="food" (clicked)="gotToDetailPage(food.id)"></app-food-card>
  </div>

</ion-content>
