<ion-content>
  <h3 class="title" *ngIf="(cartItemsPhp|async).length">{{(cartItemsPhp|async).length}} towards at cart</h3>

  <!-- CART ITEMS -->
  <ion-list lines="none">
    <ion-item-sliding *ngFor="let item of cartItemsPhp|async">
      <ion-item>
        <app-cart-item [item]="item" (increase)="onIncrease(item)" (decrease)="onDecrease(item)"></app-cart-item>
      </ion-item>
      <ion-item-options side='end'>
        <ion-item-option (click)="removeFromCart(item)">
          <ion-icon name="trash-outline" size='large' color='danger'></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- EMPTY CART-->
  <div class="empty-cart" *ngIf="!(cartItemsPhp|async).length">
    <ion-icon name="cart-outline"></ion-icon>
    <p>Your cart is empty</p>
  </div>

  <!-- CHECKOUT BUTTON -->
  <app-button *ngIf="(cartItemsPhp|async).length">
    Total: <span><sup>Php</sup>{{totalAmountPhp|async|number: '1.2'}}</span>
  </app-button>

  <!-- CONFIRM ORDER -->
  <ion-button (click)="openCartDialogue()">Confirm Order</ion-button>
  <ion-text><h1>{{status}}</h1></ion-text>
</ion-content>
