.badge {
    margin-right: 1rem;
    background: burlywood;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    border-radius: 1rem;

    ion-icon {
        margin-right: 0.3rem;
        font-size: 1.5rem;
    }
}