<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/login"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Personal Information</h1>

  <form id="form">
    <app-input placeholder="Your Name"></app-input>
    <app-input placeholder="Address"></app-input>
    <app-input placeholder="Contact Number"></app-input>
    <ion-button routerLink="/signup" expand="block" shape="round">Register Now</ion-button>
  </form>

  <p>By pressing 'Register Now' you agree to<br />our terms & conditions.</p>
</ion-content>


