<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="https://i.pinimg.com/originals/61/86/07/6186072a7b4b0f11d8920a9005f2fbd0.jpg" />
  </div>

  <form id="form">
    <app-input  placeholder="Email"></app-input>
    <app-input  type="password" placeholder="Password"></app-input>
    <ion-button routerLink="/home/listing" expand="block" shape="round">Log in</ion-button>
    
  </form>

</ion-content>
