<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="listing">
      <ion-icon name="grid-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>